# Configurações do PostgreSQL
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=senha_postgres
POSTGRES_DB=nome_do_banco

# Configurações do Backend
PORT=3000
DATABASE_URL=postgresql://usuario_postgres:senha_postgres@postgres:5432/nome_do_banco?schema=public

