# Configurações do PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=password123
POSTGRES_DB=estoque

# Configurações do Backend
PORT=3000
DATABASE_URL=postgresql://root:password123@postgres:5432/estoque?schema=public

# Autenticação JWT
JWT_SECRET=segredo_super_seguro_estoque_2024
JWT_EXPIRES_IN=7d
